<div class="container custom-container checkout-footer text-center">
  <a href="#">
    <img src="../../../images/secure-stripe-payment.png" alt="securepaymentbadge" width="424">
  </a>
  <!--div class="col-lg-12 col-md-3 d-flex flex-column verified-cont">
    <div class="verified-link-cont">
      <span>Verified by </span>
      <a class="verified-link">
         VISA/Mastercard<br> SecureCode/Norton Secured/Paypal
      </a>
    </div>
  </div-->
</div>
