<div class="container-fluid">
  <div class="row align-items spacing">
    <div class="col-lg-4 col-md-4 col-sm-5 col-4 p-0 pl-2">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-4 p-0 pl-2">
      <div class="logo">
        <div class="d-block">
          <%= image_tag(get_image_url(data), :class => "",:alt => data&.alt) %>
        </div>
      </div>
    </div>
  </div>
</div>
