<p>Hello <%= @line_item.vendor.email %>!</p>

<p><%= @spree_customer_name %> has requested refund again line item <%= @variant_name %>.</p>
<p>
    Here are line item details:
</p>
<p>
    Order Number: <%= @line_item.order.number %>
</p>
