<table width="100%" border="0">
  <tbody>
    <tr>
      <td>
        <div class="thanks-note text-center">
          <%= I18n.t('order.mailer.thank_you', store_front: "") %>
          <br>
          <br>
          <%= ENV["TECHNOLOGY_PROVIDER"] %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
