//
// Variables
// --------------------------------------------------------

$font-size-base:          1rem;
$line-height-base:        1.5rem; // 20/14

$color-text: #4A4A4A;
$border0: 0 none;
$border-color: #d2d2d2;
$base-color: #5a6370;
$color-black: #000;
$color-light-black: #2C2C2C;
$footer-bg: #f6f6f6;
$footer-links: #9b9b9b;

$color-grey: #858585;
$color-white: #fff;
$content-bg: #fafafa;
$pagination-border: #979797;
$color-transparent: transparent;
$color-grey-light: #BBBBBB;
$color-grey-dark: #666666;
$fields_bg_grey: #F4F4F4;
$input-color: #ced4da;
$grey-border: #EEE;
$border-color: #CCCCCC;
$border-background :#eaeaea;

$gallery: #ededed;
$alto: #e0e0e0;
$alto-dark: #d6d4d4;
$dusty-gray: #999999;
$bay-of-many: #264580;
$midnight-blue: #002365;
$albescent-white: #f5e1d3;

$table-border: #ff8e00;
$color-blue: #0975cd;
$color-orange: #e56e1f;
$buy-btn: #474f59;
$dropdown-border: #d9d9d9;

$color-form-control: #F4F4F4;

$placeholder-text: #AAAAAA;

$breakpoint-tablet: 768px;
$mobile-width: 767px;
$extra-small: 362px;
$small-width: 320px;
$tablet-width: 999px;
$body-padding: 40px;
$mobile-body-padding: 28px;

/*New styles*/
$dark_grey: #374151;
$light_grey: #6B7280;
$greish: #E6E8ED;
$sky-light-blue: #E8F2FF;
$light_blue: #2480F9;
$light_grey_2: #e9ecef;
$biege: #EDE6CA;
$blackish: #242021;
$light_grey_3: #bcbcbc;
$light_grey_4: #d4d4d4;
$brown: #B18E00;
$greish-muted: #737373;
$dot-grey: #d6d6d6;

// variables for giftcard iframe flow
$border-color-offwhite: #F2F2F2;
$giftcard-solid-color: #CEB780;
$custome-note-bg: #f8f8f8;
